header {
  background-color: hsl(228, 63%, 56%);
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
  box-shadow: 2px 3px 5px black ;
}

h1 {
    text-shadow: 3px 3px 5px #fff;

}