* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.categories-list {
  background-color: white;
  border: 5px double deeppink;
  color: darkblue;
  font-size: 14px;
  height: max-content;
  margin: 0 20px;
  padding: 12px;
  padding-left: 23px;
  width: 20%;
}

.categories-list h2 {
  background-color: white;
  color: darkblue;
  margin-bottom: 10px;
  text-align: left;
}

.categories-item, label {
  background-color: white;
  margin: 10px 0;
}

.categories-item label:hover {
  color: palevioletred;
}

.search-bar-and-items {
  align-items: center;
  display: flex;
  flex-flow: column;
  width: 70%;
}

.search-bar {
  align-items: center;
  display: flex;
  flex-flow: row;
  font-size: 14px;
  justify-content: center;
  width: 100%;
}

.search-bar input {
  background-color: lightgoldenrodyellow;
  border: 2px solid black;
  border-radius: 4px;
  height: 27px;
  outline: none;
  width: 100%;
}

.search-bar button {
  background-color: yellow;
  border: 1px solid black;
  color: darkblue;
  height: 27px;
  margin: auto 10px;
  padding: 3px;
}

.search-bar button:hover {
  background-color: darkblue;
  color: white;
  cursor: pointer;
}

.search-bar button:active {
  transform: scale(0.98);
}


.items-container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 10px;
}

.each-item {
  align-items: center;
  background-color: white;
  border: 4px double darkblue;
  box-shadow: 2px 3px 4px hsl(228, 63%, 56%);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 7px 0 7px 35px;
  min-width: min-content;
  padding: 10px;
  width: 20%;
}

h3 {
  background-color: white;
  font-size: 14px;
  text-align: center;
}

img {
  background-color: white;
  width: 90px;
}

p {
  background-color: white;
}

.pEachBar {
  background-color: gainsboro;
  font-style: italic;
  margin: 2px 15px 15px;
  width: 100%;
}
