* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.categories-list {
  border: 1px solid black;
  height: max-content;
  margin: 0 20px;
  padding: 12px;
  padding-left: 23px;
  width: 20%;
}

.categories-list h2 {
  margin-bottom: 10px;
  text-align: center;
}

.search-bar-and-items {
  align-items: center;
  display: flex;
  flex-flow: column;
  width: 70%;
}

.search-bar {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 70%;
}

input {
  border: 2px solid black;
  border-radius: 4px;
  height: 27px;
  outline: none;
  width: 100%;
}

.search-bar button {
  background-color: white;
  border: 1px solid black;
  height: 27px;
  margin: auto 10px;
  padding: 3px;
}

.search-bar button:hover {
  background-color: rgb(207, 207, 207);
  cursor: pointer;
}

.search-bar button:active {
  transform: scale(0.98);
}


.items-container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 10px;
}

.each-item {
  align-items: center;
  border: 1px solid black;
  box-shadow: 2px 3px 4px hsl(228, 63%, 56%);
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 7px 0 7px 35px;
  min-width: min-content;
  padding: 10px;
  width: 20%;
}

h3 {
  font-size: 14px;
  text-align: center;
}

img {
  width: 90px;
}

p {
  margin: 15px 0;
}

