.search-container {
  width: 75%;
}

.items {
  display: flex;
  flex-flow: row wrap;
}

.each-item {
  width: 20%;
  margin: 7px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  padding: 15px;
}

h3 {
  font-size: 14px;
  text-align: center;
}
